@media (max-width: 1400px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        .container {
            grid-column-gap: 26px;
            grid-template-columns: 400px 534px;
            grid-template-rows: 250px auto;
        }
    }
    .resume {
        &__wrapper  {
            padding: 60px 20px 0;
            column-gap: 70px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(3,270px);
            grid-template-rows: repeat(3,270px);
            justify-content: center;
        }
        &__ratings {
            grid-template: repeat(3,minmax(70px,auto))/repeat(2,350px);
            justify-content: center;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-template-rows: repeat(auto, 280px);
            justify-content: center;
            a {
                &:nth-child(4) {
                    grid-row: unset;
                    grid-column: unset;
    
                }
                &:nth-child(6) {
                    grid-row: unset;
                    grid-column: unset;
                }
                img {
                    max-height: 280px;
                }
            }
        }
    }
    .price {
        &__wrapper {
            column-gap: 70px;
        }
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .about {
        .container {
            gap: 20px;
            grid-template-columns: 350px 350px;
            grid-template-rows: 400px 230px;

        }
        &__myphoto {
            grid-row: 1 / 2 ;
            grid-column: 1 / 2;
        }
        &__subtitle {
            font-size: 24px;
            line-height: 36px;
        }
        &__skills {
            grid-column: 1 / 3;
            :nth-child(2) {
                right: 90px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 40px 20px 0;
            justify-content: center;
            grid-template-columns: 500px;
            grid-template-rows: repeat(2, 1fr);
            row-gap: 40px;
        }

    }
    .skills {
        &__wrapper {
            margin-bottom: 60px;
            grid-template-columns: repeat(2,270px);
            grid-template-rows: repeat(4,270px);
            justify-content: center;
        }
        &__ratings {
            grid-template: repeat(6,minmax(70px,auto))/350px;
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: 366px;
        }
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
    }
    .title__subtitle {
        font-size: 24px;
        line-height: 36px;
    }
    .promo {
        &__title {
            font-size: 36px;
            line-height: 46px;
        }
    }
    .about {
        padding-top: 40px;
        .container {
            grid-template-columns: auto;
            grid-template-rows: 340px 250px 225px;
        }
        &__myphoto, &__wrapper, &__skills {
            grid-column: 1 / 2;
        }
        &__wrapper {
            grid-row: 2 / 3;
        }
        &__skills {
            grid-row: 3 / 4;
            flex-wrap: wrap;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            align-content: center;
            :nth-child(2) {
                right: 5px;
            }
        }
    }
    .resume {
        padding-top: 46px;
    }
    .skills {
        padding-top: 46px;

    }
}
@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .hamburger {
        right: 20px;
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 55%/cover;
        &__title {
            font-size: 26px;
            line-height: 39px;
        }
    }
    .menu {
        &__block {
            width: 250px;
        }
        &__list {
            padding-left: 25px;
        }
    }
    .about {
        .container {
            grid-template-rows: 340px auto 390px;
        }
        &__skills {
            justify-content:  flex-start;
            flex-direction: column;
            flex-wrap: nowrap;
            &_ml55px {
                position: absolute;
                left: 55px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: minmax(300px,auto);
        }
    }
    .skills {
        &__wrapper {
            margin-top: 40px;
            grid-template-columns: 270px;
            grid-template-rows: repeat(7,270px);
        }
        &__ratings {
            grid-template: repeat(6,minmax(70px,auto))/270px;
            justify-content: center;
            &-item {
                grid-template: minmax(21px,auto) 14px/200px 35px;
            }
            &-line {
                width: 270px;
            }
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: 300px;
        }
    }
}